{% extends "registration/entrance.html" %}
{% block contents %}
<div class="card-body">
<h2 class="fs-2">ログイン</h2>
<p class="entrance_message">
    アカウントをお持ちでなければ、<a href="{% url 'signup' %}">こちらからユーザー登録</a>してください。                                
</p>
{% comment "" %}
    {% if form.errors %}<div class="alert alert-danger mt-2" role="alert">ユーザー名またはパスワードが間違っています。</div>{% endif %}
{% endcomment %}
<form method="post" action="{% url 'login' %}" class="login_form">
    
        {% csrf_token %}
        <div class="form-floating">
            <input class="form-control border-dark my-2"
                   type="text"
                   name="email"
                   autofocus=""
                   autocapitalize="none"
                   autocomplete="email"
                   maxlength="254"
                   required
                   id="id_email"
                   placeholder="mail address">
            <label for="id_email" class="form-text">メールアドレス</label>
        </div>
        <div class="form-floating">
            <input class="form-control border-dark my-2"
                   type="password"
                   name="password"
                   autocomplete="current-password"
                   required
                   id="id_password"
                   placeholder="password">
            <label for="id_password" class="form-text">パスワード</label>

        </div>
        <div class="form-text">
            <a href="{% url 'password_reset' %}">パスワードをお忘れですか？</a>
        </div>
        <button class="btn btn-primary w-100 mt-3" type="submit">ログイン</button>
</form>
</div>
<div class="social_login">
    <a href="{% url 'social:begin' 'google-oauth2' %}"
       id="google_login"
       class="btn btn-google w-100">
        <i class="fab fa-google fa-fw"></i>
    Googleでログイン</a>
</div>
{% endblock  %}
