{% extends 'registration/entrance.html' %}

{% block contents %}
<h2 class="page_title">パスワードのリセット</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-floating">
        <input type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" class="form-control" id="id_new_password1" placeholder="">
        <label for="id_new_password1" class="form-text">新しいパスワード</label>
        <ul class="form-text">
            <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
            <li>パスワードは最低 8 文字以上必要です。</li>
            <li>よく使われるパスワードにはできません。</li>
            <li>数字だけのパスワードにはできません。</li>
        </ul>    
    </div>
    <div class="form-floating">
        <input type="password" name="new_password2" autocomplete="new-password" required="" class="form-control" id="id_new_password2" placeholder="">
        <label for="id_new_password2" class="form-text">新しいパスワード(確認用)</label>
    </div>
    <button class="btn btn-primary w-100" tyoe="submit">パスワードを設定する</button>
</form>
{% endblock %}



