{% extends 'registration/base.html' %}
{% block main %}
    <h2>パスワードの変更</h2>
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        <label for="id_old_password">元のパスワード:</label>
        <input class="form-control border-darkk my-2 py-2"
               type="password"
               name="old_password"
               autocomplete="current-password"
               autofocus=""
               required
               id="id_old_password"
               placeholder="old password">
        <label for="id_new_password1">新しいパスワード:</label>
        <input class="form-control border-dark my-2 py-2"
               type="password"
               name="new_password1"
               autocomplete="new-password"
               required
               id="id_new_password1"
               placeholder="new password">
        <ul>
            <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
            <li>パスワードは最低 8 文字以上必要です。</li>
            <li>よく使われるパスワードにはできません。</li>
            <li>数字だけのパスワードにはできません。</li>
        </ul>
        <label for="id_new_password2">新しいパスワード(確認用):</label>
        <input class="form-control border-dark my-2 py-2"
               type="password"
               name="new_password2"
               autocomplete="new-password"
               required
               id="id_new_password2"
               placeholder="confirm password">
        <input class="btn btn-outline-warning text-black"
               type="submit"
               value="パスワードの変更">
    </form>
{% endblock %}
