{% extends 'registration/entrance.html' %}

{% block contents %}

<h2 class="page_title">パスワードリセット</h2>
<p>メールアドレスを入力して、パスワードリセットの手順を開始してください。</p>
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class="form-floating">
        <input type="email" name="email" autocomplete="email" maxlength="254" required=""  class="form-control" id="id_email" placeholder="メールアドレス">
        <label for="id_email" class="form-text">メールアドレス</label>
    </div>
    <button class="btn btn-primary w-100" type="submit">リセットリンクを送信</button>
</form>
{% endblock %}


