{% extends 'registration/entrance.html' %}

{% block contents %}
    <h2 class="page_title">パスワードの変更</h2>
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        <div class="form-floating">
              <input class="form-control"
                     type="password"
                     name="old_password"
                     autocomplete="current-password"
                     autofocus=""
                     required
                     id="id_old_password"
                     placeholder="old password">
              <label for="id_old_password" class="form-text">元のパスワード</label>
       </div>
       <div class="form-floating">
              <input class="form-control"
                     type="password"
                     name="new_password1"
                     autocomplete="new-password"
                     required
                     id="id_new_password1"
                     placeholder="new password">
              <label for="id_new_password1" class="form-text">新しいパスワード</label>
              <ul class="form-text">
                  <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
                  <li>パスワードは最低 8 文字以上必要です。</li>
                  <li>よく使われるパスワードにはできません。</li>
                  <li>数字だけのパスワードにはできません。</li>
              </ul>
       </div>
       <div class="form-floating">
              <input class="form-control"
                     type="password"
                     name="new_password2"
                     autocomplete="new-password"
                     required
                     id="id_new_password2"
                     placeholder="confirm password">
              <label for="id_new_password2" class="form-text">新しいパスワード(確認用):</label>
       </div>
        <input class="btn btn-warning text-black w-100"
               type="submit"
               value="パスワードの変更">
    </form>
{% endblock %}
