body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
}

header {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

main {
    display: flex;
    flex-grow: 1;
    background-color: var(--background-color);
}

/* 通知 */
.notify_area {
    display: block;
    font-size: 1.5rem;
    color: orange;
    position: relative;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.notify_amount {
    font-size: 0.75rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 1;
    color: white;
    background: crimson;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    line-height: 1;
    transform: translate(-50%, -50%);
}

/* 記事 */
.article_area {
    display: flex;
    justify-content: center;
}

.article_menu {
    flex-basis: 8rem;
}

.article_content {
    flex-basis: calc(100% - 8rem);
}

/*スクロールで追従するように機能を実装*/
.article_menu_list {
    position: sticky;
    top: 0;
}
.good_area {
    text-align: center;
}

.good_label {
    display: block;
    font-size: 3rem;
    cursor: pointer;

    color: crimson;
}

.good_area_description {
    font-weight: bold;
}

.report_area {
    text-align: center;
}
.report_label {
    display: block;
    font-size: 3rem;
    cursor: pointer;

    color: orange;
}
.report_area_description {
    font-weight: bold;
}

.not_read {
    background: orange !important;
}

.dropdown-toggle::after {
    display: none !important;
}

/*カードのスタイル*/
.card {
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.card-text {
    color: #555;
    margin-bottom: 1.5rem;
}

/* ボタンのスタイル */
.button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--secondary-color);
}

.btn-group .btn {
    margin-right: 0.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/*
.sidebar {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.sidebar h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.sidebar .list-group-item {
    border: none;
    padding: 0.5rem 1rem;
}

.sidebar .list-group-item a {
    color: #007bff;
    text-decoration: none;
}

.sidebar .list-group-item a:hover {
    text-decoration: underline;
}
*/

.pagination .page-item .page-link {
    color: #007bff;
}

.pagination .page-item .page-link:hover {
    color: #0056b3;
    background-color: #f8f9fa;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}
