{% load param_change %}
{% load static %}
<header >
  <div class="container header_container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a href="{% url 'blog:index' %}"
      class="d-flex justify-content-center">
      <h3>ブログサイト</h3>
      </a>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary me-2" type="submit" form="article_form">
            記事投稿
        </button>
        <div class="dropdown me-2 d-inline">
          <a class="dropidown-toggle"
            data-bs-toggle="dropdown"
            type="button"
            data-bs-auto-close="false"
            aria-expanded="true">
            <img 
            src={% if request.user.icon %}
            "/media/{{request.user.icon}}"
            {% else %}
            {% static "/images/default_icon.svg" %}
            {% endif %} alt="ユーザー画像" width="42" height="42" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end my-3">
            <li>
              <a class="dropdown-item" href="{% url 'blog:mypage' %}">マイページ</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'password_change' %}">パスワードの変更</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "blog:settings" %}">設定</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form action="{% url "logout" %}" method="post">
                {% csrf_token %}
                <input class="dropdown-item" type="submit" value="ログアウト">
              </form>
            </li>
          </ul>
        </div>
    </div>
  </div>
</header>
