{% extends "blog/base.html" %}
{% load static %}
{% load param_change %}
{% block extra_head %}{% endblock %}
{% block main %}
    <div class="row w-100">
        <div class="col-md-10 article_area">
            <div class="article_menu">
                {# いいねボタンを実装 #}
                <form action="{% url 'blog:good_article' article.id %}"
                      method="POST"
                      style="display: none">
                    {% csrf_token %}
                    <input id="good_submit" type="submit" value="いいね" />
                </form>
                {% if request.user != article.user %}
                    <div class="article_menu_list">
                        <div class="good_area">
                            {% good_checked article request.user as flag%}
                            {% if flag %}
                                <label class="good_label" for="good_submit">
                                    <i class="fa-solid fa-heart"></i>
                                </label>
                            {% else %}
                                <label class="good_label" for="good_submit">
                                    <i class="fa-regular fa-heart"></i>
                                </label>
                            {% endif %}
                            <div class="good_area_description">いいね( {{ article.goodarticle_set.all|length }} )</div>
                        </div>
                    </div>
                    <div class="report_area">
                        <label class="report_label" for="report_submit">
                            <i class="fa-solid fa-flag"></i>
                        </label>
                        <div class="report_area_description">報告</div>
                            <button type="button"
                                    id="report_submit"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                                    style="display:none">
                            </button>
                        <div class="modal"
                            id="staticBackdrop"
                            data-bs-backdrop="static"
                            tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">通報</h5>
                                        <!-- modal終了のボタン -->
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'blog:article' article.id %}"
                                              method="post"
                                              id="report_form">
                                            {% csrf_token %}
                                            <select class="form-select mb-2" name="reason">
                                                <option value="">通報理由を選択してください</option>
                                                {% for reason in reasons %}<option value="{{ reason }}">{{ reason }}</option>{% endfor %}
                                            </select>
                                            <textarea class="form-control" name="comment"></textarea>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-warning" form="report_form">通報</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="article_content mt-2">
                <div>
                    <div class="d-inline-block">
                        カテゴリ：
                        <a href="?{% url_replace request 'article_category' article.article_category.id %}">{{ article.article_category.name }}</a>
                    </div>
                    <div class="d-inline-block">
                        タグ:
                        {% for tag in article.article_tag.all %}
                            <a href="?{% url_replace request 'article_tag' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <h2 class="text-white bg-primary mb-0 px-2">{{ article.title }}</h2>
                <div class="article_contents pt- bg-white border-bottom">
                    <div>執筆者： {% get_username article.user %}</div>
                    <div>投稿日時： {{ article.dt }}</div>
                    <div>{{ article.content|safe }}</div>
                </div>
                <div class="comment_area p-2">
                    {% include "blog/comment.html" %}
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column">
            <div class="d-flex flex-column align-items-center mt-2">
                <div class="d-flex mb-2">
                    <img src={% if person.icon %}"/media/{{person.icon}}"
                    {% else %}{% static "/images/default_icon.svg" %}
                    {% endif %} alt="ユーザー画像" width="42" height="42" class="rounded-circle">
                </div>
                <div class="d-flex mb-2">
                    <a href="{% if request.user != article.user %}{% url 'blog:userpage' article.user.id %}{% else %}{% url 'blog:mypage' %}{% endif %}">{% get_username article.user %}</a>
                </div>
            </div>
            {% if request.user != article.user and request.user.is_authenticated %}
                {% include "blog/buttons/follow_button.html" with follower_id=article.user.id%}
                {% include "blog/buttons/block_button.html" with block_id=article.user.id%}
            {% endif %}
            {% if request.user == article.user %}
            <div class="mb-2 w-100">
                <a class="btn btn-success w-100" href="{% url 'blog:edit_article' article.id %}">編集</a>
            </div>
            <div>
                <button class="btn btn-danger w-100" type="submit" form="deletearticle">
                    削除
                </button>
                <form class="d-none" action="{% url "blog:deletearticle" article.id %}" method="POST" id="deletearticle">
                    {% csrf_token %}
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

