{% extends "blog/base.html" %}
{% load param_change %}

{% block extra_head %}
{% endblock %}

{% block main %}
    <div class="row w-100">
        <div class="col-10">
            <div>タイトル： {{ article.title }}</div>
            <div>投稿日時： {{ article.dt }}</div>
            <div>執筆者： {{ article.user }}</div>
            <div>タグ: {% for tag in article.artile_tag.all %}{{ tag.name }} {% endfor %}</div>
            <div>{{ article.content|safe }} </div>
            <div>
                <form action="{% url 'blog:good_article' article.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="いいね( {{ article.goodarticle_set.all|length }})">
                </form>
            </div>
            <div>
                通報：
                <form action="{% url 'blog:article' article.id %}" method="post">
                    {% csrf_token %}
                    <select name="reason">
                        <option value="">通報理由を選択してください</option>
                        {% for reason in reasons %}
                            <option value="{{ reason }}">{{ reason }}</option>
                        {% endfor %}
                        <textarea class="form-control" name="comment"></textarea>
                        <input type="submit" value="通報">
                    </select>
                </form>
            </div>
        </div>
        <div class="col-2">
            <div class="mb-2">
                <a href="{% if request.user != article.user %}{% url 'blog:userpage' article.user.id %}{% else %}{% url 'blog:mypage' %}{% endif %}">{{ article.user }}</a>
            </div>
            {% if request.user != article.user and request.user.is_authenticated %}
                <form action="{% url 'blog:follow' article.user.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="{% follow_checked request article.user.id %}">
                    {#<input type="submit" value={% if not is_follow %}"フォロー"{%else%}"フォロー解除"{% endif %}>#}
                </form>
            {% endif %}
        </div>
{% endblock %}