{% load static %}
{% load param_change %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %} </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <script>
      window.addEventListener("load",() =>{
        //検索フォームを取得
        const search_form = document.getElementById("Search_Form");
    
        //formのsubmitイベントで発火
        search_form.addEventListener('submit', ()=>{
          //formのinput要素を処理
          Array.from(search_form).forEach((input)=>{
            //値が空の場合
            if(input.value === ''){
                //disabledを有効にする
                input.disabled = true;
            }
          });
        }, false);
      });
    </script>
    {% block extra_head %}
    {% endblock %}

</head>
<body>
    <header class="bg-primary">        
      <nav class="navbar" data-bs-theme="light">
        <div class="container-fluid bg-primary">
          <a class="navbar-brand text-light" href="{% url 'blog:index' %}">ブログサイト</a>
          {# 検索用フォーム #}
          {# 検索用フォームであることをrole属性で明示 https://web-camp.io/magazine/archives/78571#}
          <form class="d-flex" role="search" id="Search_Form" action="{% url 'blog:index' %}" method="GET">
            <div class="input-group me-2">
              {# 検索実行ボタン #}
              <button type="submit" class="btn btn-outline-dark input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
              </button>

              {# タイトル検索 #}
              <input type="search" class="form-control" placeholder="タイトル検索" aria-label="Search" name="title_search"  value="{% if "title_search" in request.GET %}{% set_keywords request %}{% endif %}">
              
              {# カテゴリ検索 #}
              <select class="form-select" id="Article_Category_Search" name="article_category">
                <option value="">記事カテゴリ</option>
                {# 各カテゴリの値を表示 #}
                {# TODO:検索後、検索されたカテゴリが選択された状態にする #}
                {% for article_category in Article_Categories %}
                    <option value="{{ article_category.id }}" {% category_selected request article_category.id %}>{{ article_category.name }} </option>
                {% endfor %}
              </select>
              
              {# タグ検索 #}
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                タグ
              </button>
              <ul class="dropdown-menu">
                {% for article_tag in Article_Tags %}
                  <li>
                    <input type="checkbox" id="{{ article_tag.id}}" name="article_tag" value="{{ article_tag.id }}" {% tag_checked request article_tag.id %}> <label for="{{ article_tag.id}}">{{ article_tag.name }}</label>
                  </li>
                {% endfor %}
              </ul>
            </div>
            
          </form>
          <a class="btn btn-success mx-2" href="{% url 'blog:create_article' %}">新規作成</a>
        </div>
      </nav>
      <div class="text-center">
        {# TODO:新着順に記事を表示 #}
        <a class="me-2 text-white" href="">TimeLine</a>
        {% if request.user.is_authenticated %}
          {# TODO:フォローしているユーザーが作成した記事を表示 #}
          <a class="me-2 text-white" href="">Following</a>
        {% endif %}
      </div>  
    </header>
    {% block main %}
    {% endblock %}
</body>

</html>