{% extends "blog/base.html" %}
{% load static %}

{% block extra_head %}
    {# カテゴリ検索(Ajax使用)#}
    <script src="{% static 'blog/js/submit.js' %}"></script>
    {# カテゴリ検索(AJax不使用)#}
    
    {% comment %}
    <script>
        {% autoescape off %}
            let article_categories_list = {{ article_categories }};
        {% endautoescape %}
        window.addEventListener("load", () => {
            const categories    = document.querySelectorAll("[name ='category']");
            for (let category of categories){
                category.addEventListener("change", (e) => {
                    console.log( "category=" + e.currentTarget.value );
                    let html = '<option value="">カテゴリを指定してください</option>'

                    for ( let article_category of article_categories_list ){
                        // 選択したcategoryに対応するarticle_categoryの一覧をselectタグに指定する
                        if(article_category.category == e.currentTarget.value){
                            html += `<option value="${article_category.id}">${article_category.name}</option>`;
                        }
                    }
                    const article_categories    = document.querySelectorAll("#article_category");
                    for ( let article_category of article_categories){
                        article_category.innerHTML = html;
                    }
                });
            }
        });
    </script>
    {% endcomment %}
{% endblock %}

{% block main %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="タイトル">
    {# 大カテゴリの検索 #}
    <select name="category">
        <option value="">大カテゴリを選んでください</option>
        {% for category in Categories %}
            <option value="{{ category.id }}">{{ category.name }} </option>
        {% endfor %}
    </select>

    {# TODO: ここで大カテゴリから検索して選べるようにする(Ajax?)#}
    <select id="article_category" name="article_category">
        <option value="">カテゴリを選択してください</option>
    </select>
    {% for tag in tags %}
        <label><input type="checkbox" name="article_tag" value="{{ tag.id }}">{{ tag.name }} </label>
    {% endfor %}

    {{ form.content }}

    <input type="submit" value="送信">
</form>
{% endblock %}