{% extends "blog/layout/mypage_layout.html" %}

{% load param_change %}
{% load static %}
{% block main_contents %}
<h2>フォローしているユーザー</h2>
{% for following_object in follows %}    
    <div class="d-flex align-items-center px-2 bg-light border-bottom">
        <img 
        src={% if following_object.followers.icon %}
        "/media/{{following_object.followers.icon}}"
        {% else %}
        {% static "/images/default_icon.svg" %}
        {% endif %} alt="ユーザー画像" width="42" height="42" class="rounded-circle me-2">
        <a class="me-2 fs-4 flex-grow-1" href="{% url 'blog:userpage'  following_object.followers.id %}">{{ following_object.followers.username }}</a>
        <div class="d-flex pt-2 flex-grow-0">
            {% include "blog/buttons/follow_button.html" with follower_id=following_object.followers.id%}
            {% include "blog/buttons/block_button.html" with block_id=following_object.followers.id%}
        </div>
    </div>
{% empty %}
    <p>フォローしているユーザーはいません</p>
{% endfor %}
{% endblock %}