{% extends "blog/base.html" %}
{% load param_change %}

{% block extra_head %}
{% endblock %}

{% block main %}
    {% comment %}
    {% if search %}
        {% if  search_title %}
            <div class="row mb-2 align-items-center">
                <div class="col-auto me-auto">タイトル</div>
                <div class="col-auto">{% for word in search_title %}{{ word }}{% endfor %}</div>
            </div>
        {% endif %}
        {% if search_category %}
            <div class="row mb-2 align-items-center">
                <div class="col-auto me-auto">記事カテゴリ</div>
                <div class="col-auto">{{ search_category }}</div>
            </div>
        {% endif %}
        {% if search_tags %}
            <div class="row mb-2 align-items-center">
                <div class="col-auto me-auto">タグ</div>
                <div class="col-auto">
                    {% for article_tag in Article_Tags %}
                        <input type="checkbox" id="{{ article_tag.id}}" name="article_tag" disabled value="{{ article_tag.id }}" {% tag_checked request article_tag.id %}> {{ article_tag.name }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% endcomment %}
    {% for article in articles %}
        <a href="{% url 'blog:article' article.id %}">
            <div>{{ article.text_thumbnail|safe }} </div>
            <div>タイトル： {{ article.title }}</div>
            <div>投稿日時： {{ article.dt }}</div>
            <div>カテゴリ： {{ article.article_category.name }}</div>
            <div>タグ: {% for tag in article.article_tag.all %} {{ tag.name }} {% endfor %}</div>

            {# <div>{{ article.content|safe }} </div> #}
            <div>{{ article.plain_content|truncatechars:100 }} </div>
        </a>
        <hr>
    {% endfor %}

    <ul class="pagination justify-content-center">
        {% if articles.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' '1' %}">最初のページ</a></li>
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' articles.previous_page_number %}">前のページ</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">最初のページ</a></li>
        <li class="page-item"><a class="page-link">前のページ</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link">{{ articles.number }}</a></li>
        {% if articles.has_next %}
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' articles.next_page_number %}">次のページ</a></li>
        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' articles.paginator.num_pages %}">最後のページ</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">次のページ</a></li>
        <li class="page-item"><a class="page-link">最後のページ</a></li>
        {% endif %}
    </ul>
{% endblock %}