{% extends "blog/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}
    {% for article in articles %}
        <a href="{% url 'blog:article' article.id %}">
            <div>{{ article.text_thumbnail|safe }} </div>
            <div>タイトル： {{ article.title }}</div>
            <div>投稿日時： {{ article.dt }}</div>
            <div>タグ: {% for tag in article.artile_tag.all %}{{ tag.name }} {% endfor %}</div>

            {# <div>{{ article.content|safe }} </div> #}
            <div>{{ article.plain_content|truncatechars:100 }} </div>
        </a>
        <hr>
    {% endfor %}

{% endblock %}