{% extends "blog/base.html" %}
{% load param_change %}

{% block extra_head %}
{% endblock %}

{% block main %}
    <h2>{{ request.user }}のマイページ</h2>

    <h3>フォロー中</h3> 
    <table class="table mb-2">
        <thead>
            <tr>
                <th>名前</th>
                <th>フォロー状況</th>
            </tr>
        </thead>
        <tbody>
            {% for following_object in request.user.following_user.all %}
                <tr>
                    <td><a class="me-2" href="{% url 'blog:userpage'  following_object.followers.id %}">{{ following_object.followers.username }}</a></td>
                    <td>
                        <form class="d-inline" action="{% url 'blog:follow' following_object.followers.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="{% follow_checked request following_object.followers %}">
                        </form>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>            
    <h3>フォロワー</h3>
    <table class="table mb-2">
        <thead>
            <tr>
                <th>名前</th>
                <th>フォロー状況</th>
            </tr>
        </thead>
        <tbody>
            {% for followed_object in request.user.followed_user.all %}
                <tr>
                    <td><a class="me-2" href="{% url 'blog:userpage' followed_object.follows.id %}">{{ followed_object.follows.username }}</a></td>
                    <td><form class="d-inlie" action="{% url 'blog:follow' followed_object.follows.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="{% follow_checked request followed_object.follows %}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}