{% extends 'blog/base.html' %}
{% load static %}
{% block extra_head %}
    <script src={% static "blog/js/switch.js" %}></script>
    <script src={% static "blog/js/upload_icon.js" %}></script>
{% endblock %}
{% block main %}
<div class="container">
    <div id="profile" class="border-bottom py-2">
        <div class="user_name">
            {{ request.user.username }}
        </div>
        <form action="{% url "blog:uploadusericon" %}" method="POST" accept="image/*" enctype="multipart/form-data" id="icon_form">
            {% csrf_token %}
            <input type="file" id="icon" name="icon" style="display:none;">
            <label for="icon">
                <img 
                src={% if request.user.icon %}
                "/media/{{request.user.icon}}"
                {% else %}
                {% static "/images/default_user_icon.svg" %}
                {% endif %} alt="ユーザー画像" width="42" height="42" class="rounded-circle">
            </label>
        </form>
    </div>
    <div class="border-bottom py-2">
        <h3 id="notify_setting" class="border-bottom">通知設定</h3>
        {% for notify_category in notify_categories %}
            {% include "blog/settings_notify_categories.html" %}
        {% endfor %}
    </div>
    <div id="password_setting" class="border-bottom">
        <h3 class="border-bottom">パスワードの変更</h3>
        パスワードの変更は<a href="{% url 'password_change' %}">こちら</a>    
    </div>
</div>


{% endblock %}