{% extends 'blog/base.html' %}
{% load static %}
{% block extra_head %}
    <script src={% static "blog/js/switch.js" %}></script>
    <script src={% static "blog/js/upload_icon.js" %}></script>
{% endblock %}
{% block main %}
<div class="container">
    <div class="border-bottom py-2">
        <h3 id="notify_setting" class="border-bottom">通知設定</h3>
        {% for notify_category in notify_categories %}
            {% include "blog/settings_notify_categories.html" %}
        {% endfor %}
    </div>
    <div id="password_setting" class="border-bottom">
        <h3 class="border-bottom">パスワードの変更</h3>
        パスワードの変更は<a href="{% url 'password_change' %}">こちら</a>    
    </div>
</div>


{% endblock %}