{% extends "blog/base.html" %}
{% load param_change %}

{% block extra_head %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-10">
            {% for trend in trends %}
                <a href="{% url 'blog:article' trend.article.id %}">
                    <div>{{ trend.article.text_thumbnail|safe }} </div>
                    <div>タイトル： {{ trend.article.title }}</div>
                    <div>執筆者： {{ trend.article.user }}</div>
                    <div>投稿日時： {{ trend.article.dt }}</div>
                    <div>カテゴリ： {{ trend.article.article_category.name }}</div>
                    <div>タグ: {% for tag in trend.article.article_tag.all %} {{ tag.name }} {% endfor %}</div>
                    {# <div>{{ trend.article.content|safe }} </div> #}
                    <div>{{ trend.article.plain_content|truncatechars:100 }} </div>
                </a>
                <hr>
            {% endfor %}
        </div>
        <div class="col-2">
            <div class="text-center">人気のタグ</div>
            <ul class="list-group">
                {% for article_tag in trend_tags %}
                    <li class="list-group-item"> {{ article_tag.name }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul class="pagination justify-content-center">
        {% if trends.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' '1' %}">最初のページ</a></li>
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' trends.previous_page_number %}">前のページ</a></li>
        {% else %}
            <li class="page-item"><a class="page-link">最初のページ</a></li>
            <li class="page-item"><a class="page-link">前のページ</a></li>
        {% endif %}
            <li class="page-item"><a class="page-link">{{ trends.number }}</a></li>
        {% if trends.has_next %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' trends.next_page_number %}">次のページ</a></li>
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' trends.paginator.num_pages %}">最後のページ</a></li>
        {% else %}
            <li class="page-item"><a class="page-link">次のページ</a></li>
            <li class="page-item"><a class="page-link">最後のページ</a></li>
        {% endif %}
    </ul> 
{% endblock %}
