{% extends "blog/layout/mypage_layout.html" %}
{% load static %}
{% load param_change %}
{% block main_contents%}
<h2>記事一覧</h2>
{% for article in articles %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">
                <a href={% url 'blog:article' article.id %} class="text-dark">{{ article.title }}</h5>
            </h5>
            <div class="card-image text-center mb-3">
                <a href="{% url 'blog:article' article.id %}">{{ article.text_thumbnail|safe }}</a>
            </div>
            <p class="card-text">{{ article.plain_content|truncatechars:100 }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    カテゴリ： <a href="?{% url_replace request 'article_category' article.article_category.id %}"
                    class="badge bg-secondary">{{ article.article_category.name }}</a>
                    タグ:
                    {% for tag in article.article_tag.all %}
                        <a href="?{% url_replace request 'article_tag' tag.id %}"
                           class="badge bg-secondary">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <small class="text-muted">執筆者： {% if article.user.getfull_name %}{{ article.user.get_full_name }}{% else %}{{ article.user.username }}{% endif %} / 投稿日時： {{ article.dt }}</small>
            </div>
            <a class="btn btn-primary mt-3" href="{% url 'blog:article' article.id %}">続きを読む</a>
        </div>
    </div>
{% empty %}
    <div>投稿されている記事はありません</div>
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if articles.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace request 'page' '1' %}">最初のページ</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?{% url_replace request 'page' articles.previous_page_number %}">前のページ</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">最初のページ</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">前のページ</a>
            </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link">{{ articles.number }}</a>
        </li>
        {% if articles.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?{% url_replace request 'page' articles.next_page_number %}">次のページ</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?{% url_replace request 'page' articles.paginator.num_pages %}">最後のページ</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">次のページ</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">最後のページ</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
