{% extends "blog/layout/common_layout.html" %}
{% load static %}
{% load param_change %}
{% block button %}
    {% include "blog/buttons/follow_button.html"  with follower_id=person.id %}
    {% include "blog/buttons/block_button.html" with block_id=person.id %}
{% endblock %}

{% block user_icon %}
<img 
src={% if person.icon %}
"/media/{{person.icon}}"
{% else %}
{% static "/images/default_icon.svg" %}
{% endif %} alt="ユーザー画像" width="42" height="42" class="rounded-circle">
{% endblock %}
{% block user_name %}
{% if request.user.get_full_name == "" %}
    {{ person.username}}
{% else %}
    {{ person.get_full_name }}
{% endif %}
{% endblock %}
{% block user_article_count %}
{{ articles.count}}
{% endblock %}
{% block folowing_count %}
{{ person.following_user.count }}
{% endblock %}
{% block followers_count %}
{{ person.followed_user.count }}
{% endblock %}
{% block blockers_count %}
{{ person.blocking_user.count }}
{% endblock %}
{% block main_contents%}
{% endblock %}